.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.vai {

        float: right;
        margin-right: 20px;
        margin-top: -24px;
        margin-bottom: -15px;
    
}
ul li{
        width: 17.3%;
        height: 13%;
        margin: 3.5%;
        float: left;
        overflow: hidden;
        padding-right: 10px;
        padding-top: 5px;
        padding-left: 12px;
    }
      
ul li:nth-child(odd) {
        float:left;
}

.filiais{
        width: 13.3% !important;
}

.nomeFilial{
        padding: 20px;
}